body {
    padding-left: 5%; padding-right: 5%;
    padding-top: 2%;
}

div {
    float: left;
    margin-top: 1%; margin-bottom: 1%;
}

#predefined-programs {
    width: 20%;
}

#predefined-programs select {
    width: 100%
}

#editor {
    width: 80%;
}

textarea {
    width: 100%;
}

#program-text {
    height: 50vh;
}

button {
    float: right;
}
